In [2]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import random

# 1. Set number of rows
num_rows = np.random.randint(500, 1001)

# 2. Generate mock data
data = {
    'wallet_address': [f'0x{"".join(np.random.choice(list("abcdef1234567890"), 40))}' for _ in range(num_rows)],
    'token': np.random.choice(['ETH', 'USDT', 'BTC', 'BNB', 'MATIC'], size=num_rows),
    'amount': np.round(np.random.uniform(0.01, 1000.0, size=num_rows), 2),
    'timestamp': [datetime.now() - timedelta(minutes=random.randint(0, 100000)) for _ in range(num_rows)]
}

# 3. Create DataFrame
df = pd.DataFrame(data)

In [3]:
df.head()

,wallet_address,token,amount,timestamp
0,0x2d1fb3416f65b458fae694ad3ae89dd5b4c0e0da,USDT,474.88,2025-06-02 18:01:33.260750
1,0x8dcf5316912f89574b77dc350330d76550d0944d,MATIC,493.66,2025-06-23 07:57:33.260783
2,0x181e5d0c9d75033f9d6c39bcc5d69c17bb3516e0,BNB,126.53,2025-06-17 10:17:33.260796
3,0xfd02cf7b9b6e475093c24aadfb2c205e4c7bd214,USDT,534.39,2025-06-23 12:38:33.260805
4,0x4f53ca139787a820973c942e4369f75bac60f332,MATIC,535.47,2025-06-10 18:25:33.260812

In [4]:
# 4. Parse 'timestamp' column as datetime (if not already)
df['timestamp'] = pd.to_datetime(df['timestamp'])

# Preview
print(df.head())

                               wallet_address  token  amount  \
0  0x2d1fb3416f65b458fae694ad3ae89dd5b4c0e0da   USDT  474.88
1  0x8dcf5316912f89574b77dc350330d76550d0944d  MATIC  493.66
2  0x181e5d0c9d75033f9d6c39bcc5d69c17bb3516e0    BNB  126.53
3  0xfd02cf7b9b6e475093c24aadfb2c205e4c7bd214   USDT  534.39
4  0x4f53ca139787a820973c942e4369f75bac60f332  MATIC  535.47

                   timestamp
0 2025-06-02 18:01:33.260750
1 2025-06-23 07:57:33.260783
2 2025-06-17 10:17:33.260796
3 2025-06-23 12:38:33.260805
4 2025-06-10 18:25:33.260812